In [1]:
import pandas as pd
import os

In [9]:
dump_files = ["20230622WG6_AllElectivesPart1-export-20230705-123616.csv", "20230622WG6_AllElectivesPart2-export-20230705-123639.csv"]
dump_contents = []
for dump_file in dump_files:
    raw = pd.read_csv(os.path.join("coded",dump_file), dtype='string').fillna("")
    dump_contents.append(raw)
raw_coded = pd.concat(dump_contents)
annotated = raw_coded[raw_coded['Annotations'].str.len() >0]
annotated.columns

Index(['Title', 'Text', '[M] elective: ', '[M] institution: ', '[M] title: ',
       '[C] Barker, Lecia', '[C] Bradley, Steven', '[C] Hooshangi, Sara',
       '[C] Kunkeler, Thom', '[C] Lennon, Ruth', '[C] Parkinson, Jack',
       '[C] Sibia, Naaz (Naaz Sibia)', 'Annotations',
       '[C] Altin, Rukiye (rukiye)', '[C] McNeill, Fiona',
       '[C] Minguillón, Julià (Julià Minguillón)',
       '[C] Peltsverger, Svetlana'],
      dtype='object')

In [10]:
meta_cols = []
renamer = {}
for col in annotated.columns:
    shortened = col
    if col[0:3] == "[M]":
        print ("[M] " )
        shortened = col[4:-2]
        meta_cols.append(shortened)
    renamer[col] = shortened

renamer

[M]
[M]
[M]

{'Title': 'Title',
 'Text': 'Text',
 '[M] elective: ': 'elective',
 '[M] institution: ': 'institution',
 '[M] title: ': 'title',
 '[C] Barker, Lecia': '[C] Barker, Lecia',
 '[C] Bradley, Steven': '[C] Bradley, Steven',
 '[C] Hooshangi, Sara': '[C] Hooshangi, Sara',
 '[C] Kunkeler, Thom': '[C] Kunkeler, Thom',
 '[C] Lennon, Ruth': '[C] Lennon, Ruth',
 '[C] Parkinson, Jack': '[C] Parkinson, Jack',
 '[C] Sibia, Naaz (Naaz Sibia)': '[C] Sibia, Naaz (Naaz Sibia)',
 'Annotations': 'Annotations',
 '[C] Altin, Rukiye (rukiye)': '[C] Altin, Rukiye (rukiye)',
 '[C] McNeill, Fiona': '[C] McNeill, Fiona',
 '[C] Minguillón, Julià (Julià Minguillón)': '[C] Minguillón, Julià (Julià Minguillón)',
 '[C] Peltsverger, Svetlana': '[C] Peltsverger, Svetlana'}

In [19]:
# first two meta columns are elective code and institution, which we use as the index
# third meta column is title
index_cols = meta_cols[0:2]
keep_cols = index_cols + ["Annotations"]
export = annotated.rename(columns=renamer)[keep_cols]

# Ignore the Uppsala electives with no content
export = export[~(export.institution=="Uppsala_Sweden")]
export = export[~(export.elective.isin(["cxinfr11245","cxinfr11246","cxinfr11248","cxinfr11083"]))]
export.to_csv("annotated_electives.csv")
export

,elective,institution,Annotations
1,COMP3491,Durham_England,Annotation: I think this is security because o...
2,COMP3507,Durham_England,Annotation: Low confidence on this. Complexity...
10,COMP3677,Durham_England,"Annotation: This is related to AI, but also to..."
12,COMP4117,Durham_England,Annotation: quantum computing; User: Sara Hoos...
13,COMP4127,Durham_England,Annotation: very low confidence; User: Lecia B...
16,COMP4187,Durham_England,Annotation: could be one of many sciences; Use...
18,cxinfr08033,Edinburgh_UK,Annotation: ; User: Jack Parkinson; Timestamp:...
19,cxinfr10052,Edinburgh_UK,Annotation: According to the ACM 2023 curricul...
23,cxinfr10084,Edinburgh_UK,Annotation: As with previous experiential lear...
27,cxinfr10083,Edinburgh_UK,Annotation: data science is not always about A...
32,cxinfr11209,Edinburgh_UK,Annotation: Computational Neuroscience; User: ...
34,cxinfr11099,Edinburgh_UK,Annotation: Quantum Computing; User: Sara Hoos...
69,inf-EAeS,CAU_Germany,Annotation: Really don't know... AI? AL?; User...
75,inf-EERP,CAU_Germany,Annotation: I don't know what an ERP system is...
76,CGDD2012L,Kennesaw_USA,"Annotation: this should probably be removed, u..."
77,IT4123,Kennesaw_USA,"Annotation: not sure if SPD is right, but the ..."
78,IT4203,Kennesaw_USA,Annotation: Not sure if the web is a specializ...
89,CSE4983,Kennesaw_USA,Annotation: Internship; User: Sara Hooshangi; ...
102,IT4603,Kennesaw_USA,Annotation: Blockchain; User: Sara Hooshangi; ...
108,SWE4803,Kennesaw_USA,Annotation: Not quite game design enough for g...
116,5.579,UOC_Spain,Annotation: applied AL because the ACM doc inc...
128,CS3744,VirginiaTech_USA,Annotation: ; User: Lecia Barker; Timestamp: 6...
131,CS4134,VirginiaTech_USA,Annotation: Quantum Computation; User: Sara Ho...
139,CS4704,VirginiaTech_USA,Annotation: Is this really an elective?; User:...
140,CS4784,VirginiaTech_USA,Annotation: is this really an elective?; User:...
141,CS4884,VirginiaTech_USA,Annotation: Not sure that AL is the right tech...
26,cxinfr11020,Edinburgh_UK,Annotation: ; User: Svetlana Peltsverger; Time...
27,cxinfr11033,Edinburgh_UK,Annotation: ; User: Svetlana Peltsverger; Time...
32,cxinfr11077,Edinburgh_UK,Annotation: ; User: Svetlana Peltsverger; Time...
40,cxinfr11088,Edinburgh_UK,Annotation: ; User: Svetlana Peltsverger; Time...
42,cxinfr11023,Edinburgh_UK,Annotation: ; User: Svetlana Peltsverger; Time...
81,CS4524,Kennesaw_USA,Annotation: could not decide; User: Steven Bra...
92,IT4523,Kennesaw_USA,Annotation: I have doubts about SPD but it's t...
127,CS3754,VirginiaTech_USA,Annotation: Cloud = SPD/Web?; User: Steven Bra...
131,CS4284,VirginiaTech_USA,"Annotation: Is this an elective, listed as cap..."
136,CS4284,VirginiaTech_USA,"Annotation: Is this an elective, it is listed ..."
137,CS4504,VirginiaTech_USA,Annotation: repeated?; User: Julià Minguillón;...
138,CS4624,VirginiaTech_USA,"Annotation: Not sure, could be lots of things!..."

In [12]:
long1 = base.melt(index_cols)
long1

     elective       institution                 variable    value
0    COMP3477    Durham_England   Altin, Rukiye (rukiye)      GIT
1    COMP3487    Durham_England   Altin, Rukiye (rukiye)  AI; MSF
2    COMP3517    Durham_England   Altin, Rukiye (rukiye)   DM; 15
3    COMP3527    Durham_England   Altin, Rukiye (rukiye)      GIT
4    COMP3547    Durham_England   Altin, Rukiye (rukiye)       AI
..        ...               ...                      ...      ...
705    CS4504  VirginiaTech_USA    Peltsverger, Svetlana       AR
706    CS4624  VirginiaTech_USA    Peltsverger, Svetlana      HCI
707    CS4644  VirginiaTech_USA    Peltsverger, Svetlana  SPD; 21
708    CS4804  VirginiaTech_USA    Peltsverger, Svetlana       AI
709    CS4824  VirginiaTech_USA    Peltsverger, Svetlana       AI

[710 rows x 4 columns]

In [13]:
long2 = long1.join(long1['value'].str.split('; ', expand=True))
long2

,elective,institution,variable,value,0,1,2,3,4
0,COMP3477,Durham_England,"Altin, Rukiye (rukiye)",GIT,GIT,None,None,None,None
1,COMP3487,Durham_England,"Altin, Rukiye (rukiye)",AI; MSF,AI,MSF,None,None,None
2,COMP3517,Durham_England,"Altin, Rukiye (rukiye)",DM; 15,DM,15,None,None,None
3,COMP3527,Durham_England,"Altin, Rukiye (rukiye)",GIT,GIT,None,None,None,None
4,COMP3547,Durham_England,"Altin, Rukiye (rukiye)",AI,AI,None,None,None,None
...,...,...,...,...,...,...,...,...,...
705,CS4504,VirginiaTech_USA,"Peltsverger, Svetlana",AR,AR,None,None,None,None
706,CS4624,VirginiaTech_USA,"Peltsverger, Svetlana",HCI,HCI,None,None,None,None
707,CS4644,VirginiaTech_USA,"Peltsverger, Svetlana",SPD; 21,SPD,21,None,None,None
708,CS4804,VirginiaTech_USA,"Peltsverger, Svetlana",AI,AI,None,None,None,None
709,CS4824,VirginiaTech_USA,"Peltsverger, Svetlana",AI,AI,None,None,None,None

In [14]:
long3 = long2.drop('value', axis=1)
long3 = long3.rename(columns={'variable': 'coder'})
long3

,elective,institution,coder,0,1,2,3,4
0,COMP3477,Durham_England,"Altin, Rukiye (rukiye)",GIT,None,None,None,None
1,COMP3487,Durham_England,"Altin, Rukiye (rukiye)",AI,MSF,None,None,None
2,COMP3517,Durham_England,"Altin, Rukiye (rukiye)",DM,15,None,None,None
3,COMP3527,Durham_England,"Altin, Rukiye (rukiye)",GIT,None,None,None,None
4,COMP3547,Durham_England,"Altin, Rukiye (rukiye)",AI,None,None,None,None
...,...,...,...,...,...,...,...,...
705,CS4504,VirginiaTech_USA,"Peltsverger, Svetlana",AR,None,None,None,None
706,CS4624,VirginiaTech_USA,"Peltsverger, Svetlana",HCI,None,None,None,None
707,CS4644,VirginiaTech_USA,"Peltsverger, Svetlana",SPD,21,None,None,None
708,CS4804,VirginiaTech_USA,"Peltsverger, Svetlana",AI,None,None,None,None
709,CS4824,VirginiaTech_USA,"Peltsverger, Svetlana",AI,None,None,None,None

In [15]:
long4 = long3.melt(index_cols + ['coder'])
long4 = long4.rename(columns={'value': 'code'})[index_cols + ['coder','code']]
long4.fillna("",inplace = True)
long4 = long4[long4.code.str.len()>0]
long4

      elective     institution                                  coder code
0     COMP3477  Durham_England                 Altin, Rukiye (rukiye)  GIT
1     COMP3487  Durham_England                 Altin, Rukiye (rukiye)   AI
2     COMP3517  Durham_England                 Altin, Rukiye (rukiye)   DM
3     COMP3527  Durham_England                 Altin, Rukiye (rukiye)  GIT
4     COMP3547  Durham_England                 Altin, Rukiye (rukiye)   AI
...        ...             ...                                    ...  ...
2110     5.604       UOC_Spain                  Peltsverger, Svetlana   DM
2538      22.4       UOC_Spain                         McNeill, Fiona   SE
2556  COMP3477  Durham_England   Minguillón, Julià (Julià Minguillón)   15
2779    CS4524    Kennesaw_USA                  Peltsverger, Svetlana   AI
3489    CS4524    Kennesaw_USA                  Peltsverger, Svetlana   DM

[1023 rows x 4 columns]

In [16]:
long5 = long4.groupby(index_cols + ['code']).count().unstack().fillna(0)
long5.columns = long5.columns.get_level_values(1)
long5.to_csv(os.path.join("coded","codes_" + dump_file))
long5

,code,01,02,03,04,07,09,10,13,14,15,...,MSF,NC,OS,PDC,SDF,SE,SEC,SEP,SF,SPD
elective,institution,,,,,,,,,,,,,,,,,,,,,
1DL034,Uppsala_Sweden,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1DL231,Uppsala_Sweden,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1DL311,Uppsala_Sweden,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1DT075,Uppsala_Sweden,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,2.0,0.0,0.0,0.0
1TD062,Uppsala_Sweden,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
cxinfr11217,Edinburgh_UK,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
cxinfr11240,Edinburgh_UK,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,5.0,0.0,0.0,0.0
cxinfr11241,Edinburgh_UK,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,4.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
inf-AuLearn,CAU_Germany,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
inf-EnlOpt,CAU_Germany,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0